[Unit]
Description=RocketMQ Broker
After=network.target
[Service]
ExecStart=/opt/rocketmq/rocketmq-all-4.7.0-source-release/distribution/bin/mqbroker -n localhost:9876
ExecStop=/opt/rocketmq/rocketmq-all-4.7.0-source-release/distribution/bin/mqshutdown broker
User=rocketmq
Group=rocketmq
[Install]
WantedBy=multi-user.target