[Unit]
Description=RocketMQ Broker
After=network.target
[Service]
ExecStart=/opt/rocketmq-all-4.7.0-source-release/distribution/target/rocketmq-4.7.0/rocketmq-4.7.0/bin -n localhost:9876
ExecStop=/opt/rocketmq-all-4.7.0-source-release/distribution/target/rocketmq-4.7.0/rocketmq-4.7.0/bin/mqshutdown broker
User=rocketmq
Group=rocketmq
[Install]
WantedBy=multi-user.target