[Unit]
Description=RocketMQ Name Server
After=network.target
[Service]
Type=simple
Environment="ROCKETMQ_HOME=/opt/rocketmq"
ExecStart=/data/wwwroot/rocketmq/bin  mqnamesrv 
ExecStop=/data/wwwroot/rocketmq/bin/mqshutdown namesrv
[Install]
WantedBy=multi-user.target