[Unit]
Description=RocketMQ Name Server
After=network.target
[Service]
ExecStart=/opt/rocketmq/rocketmq-all-4.7.0-source-release/distribution/bin  mqnamesrv 
ExecStop=/opt/rocketmq/rocketmq-all-4.7.0-source-release/distribution/bin/mqshutdown namesrv
User=rocketmq
Group=rocketmq
[Install]
WantedBy=multi-user.target